@import url("animation.css");
@import url("home-banner.css");
@import url("style.css");

:root {
    --swiper-theme-color: #007aff;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.home-hero-section {
    margin: 0;
    position: relative;
}
.home-hero-section svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.home-hero-section svg polygon {
    pointer-events: all;
}
.home-hero-section .hero-red-fill {
    width: 0;
    height: 0;
    border-top: 800px solid #eb262a;
    border-left: 800px solid #eb262a;
    position: absolute;
    top: 0;
    left: 0;
}
.home-hero-section .hero-white-fill {
    width: 0;
    height: 0;
    border-bottom: 800px solid #ffffff;
    border-right: 800px solid #ffffff00;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    mix-blend-mode: screen;
}
.home-hero-section .hero-small-red-fill {
    width: 0;
    height: 0;
    border-top: 169.04px solid #ea262a;
    border-left: 169.04px solid #ffffff;
    position: absolute;
    top: 171px;
    right: 320px;
}
.home-hero-section .hero-small-black-fill {
    width: 0;
    height: 0;
    border-top: 169.04px solid #000000;
    border-left: 169.04px solid #ffffff;
    position: absolute;
    top: 171px;
    right: 320px;
    z-index: 2;
}
.home-hero-section .hero-big-black-fill {
    width: 0;
    height: 0;
    border-top: 480px solid #000000;
    border-left: 480px solid #ffffff;
    position: absolute;
    z-index: 2;
    top: 320px;
    right: 0;
}

.container-fluid {
    max-width: 100%;
}
.home-hero-section .hero-content-wrapper {
    position: relative;
}
.home-hero-section .hero-content-wrapper .hero-text-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 790px;
}
.home-hero-section .hero-text-small-container {
    top: -85px !important;
    height: 400px px !important;
}
.home-hero-section .hero-text-big-container {
    height: 690px !important;
    width: 990px !important;
}
.home-hero-section .hero-content-wrapper h1 {
    font-size: 22.222vw;
    line-height: 18.056vw;
    position: relative;
    color: #eb262a;
    letter-spacing: -0.04em;
    font-family: "KareliaWeb Medium", sans-serif;
}
.home-hero-section .hero-content-wrapper p {
    float: right;
    max-width: 70%;
    position: relative;
    right: 0;
    color: #eb262a;
    margin-top: 24px;
}
.d-none {
    display: none;
}
.home-hero-section .hero-content-wrapper.active p {
    mix-blend-mode: difference;
    color: #ffffff;
    z-index: 3;
}
.home-hero-section .hero-content-wrapper.active h1,
.home-hero-section .hero-content-wrapper.active p {
    mix-blend-mode: difference;
    color: #ffffff;
    z-index: 3;
}

/* ---- Responsive ----- */
@media (min-width: 1280px) {
    .home-hero-section {
        height: calc(100vh - 50px);
    }
    .home-hero-section svg {
        max-height: 62.592vw;
    }
    .home-hero-section .hero-red-fill {
        border-top: 62.5vw solid #eb262a;
        border-left: 62.518vw solid #eb262a;
    }
    .home-hero-section .hero-white-fill {
        border-bottom: 62.5vw solid #ffffff;
        border-right: 62.518vw solid #ffffff00;
    }
    .home-hero-section .hero-small-red-fill {
        border-top: 12.375vw solid #ea262a;
        border-left: 12.375vw solid #ffffff;
        top: 12.518vw;
        right: 25vw;
    }
    .home-hero-section .hero-small-black-fill {
        border-top: 12.375vw solid #000000;
        border-left: 12.375vw solid #ffffff;
        top: 12.518vw;
        right: 25vw;
    }
    .home-hero-section .hero-big-black-fill {
        border-top: 37.5vw solid #000000;
        border-left: 37.5vw solid #ffffff;
        top: 25vw;
    }
    .home-hero-section .hero-content-wrapper .hero-text-container {
        height: 31.25vw;
        width: 61.719vw;
    }
    .home-hero-section .hero-content-wrapper #blackbg {
        width: 39.678vw;
    }
    .home-hero-section .hero-text-small-container {
        top: -6.641vw !important;
        height: 31.25vw !important;
    }
    .home-hero-section .hero-text-big-container {
        height: 53.906vw !important;
        width: 77.344vw !important;
    }
    .home-hero-section .hero-content-wrapper h1 {
        max-width: 54.319vw;
        font-size: 12.445vw;
        line-height: 10.249vw;
    }
    .home-hero-section .hero-content-wrapper p {
        font-size: 1.757vw;
        line-height: 2.782vw;
        max-width: 26.501vw;
        right: -8.053vw;
        margin-top: 2.734vw;
    }
}

@media (min-width: 1200px) {
    .home-hero-section svg {
        max-height: 855px;
    }
}

@media (min-width: 992px) {
    .d-lg-block {
        display: block;
    }
    section {
        margin: 140px 0;
    }
    .home-hero-section {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transform: translateZ(0);
    }
    .home-hero-section svg {
        width: 100%;
        height: auto;
    }
    .container-fluid {
        margin: 0 110px;
    }
    .home-hero-section .hero-content-wrapper h1 {
        max-width: 742px;
        font-size: 170px;
        line-height: 140px;
        letter-spacing: -0.04em;
    }
    .home-hero-section .hero-content-wrapper p {
        max-width: 362px;
        right: -110px;
        margin-top: 35px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .home-hero-section .hero-content-wrapper.active h1,
    .home-hero-section .hero-content-wrapper.active p {
        color: #eb262a;
        mix-blend-mode: normal;
    }
}
.home-hero-section .hero-content-wrapper #whitebg {
    background: #ffffff;
    z-index: 1;
}
.home-hero-section .hero-content-wrapper #blackbg {
    background: black;
    width: 542px;
    z-index: 2;
}
.home-hero-section .hero-content-wrapper #makered {
    background-color: #eb262a;
    mix-blend-mode: screen;
    z-index: 4;
}
